.container{
    max-width: 1440px;
    
}

.DateTimePicker{
  color: white;
  background-color: white;
  color: white;
}
.homepage {
    min-width: 100%;
    min-height: 100%;
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.homepage_header {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    min-width: 20%;
    min-height: fit-content;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(26, 25, 25, 0.9), 0 8px 16px rgba(23, 22, 22, 0.982);
    background: #030C1D    ;
    position: relative
}

.homepage_header > .button {
    background: #3616B4C8;
    border: 1px solid #3616B4C8;
    color: #fff;
    width: 100%;
    text-align:center;
    padding: 0.5rem 0;
    margin: 0.5rem ;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.homepage_header > input{
    outline: none;
    color: black;
    margin: 0.5rem 0;
    padding: 0.4rem 0;
    width: 100%;
}

.react-datetime-picker  {
    width: 100% !important;
}


.homepage_body {
    width: 100%;
    margin-left: 111px;
    
}

.reminder_card {
    display: flex;
    flex-direction: column;
    display: inline-block;
    background: #030C1D    ;
    border-radius: 8px; 
    margin: 1rem;
    padding: 1rem;
    max-width:250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.945), 0 8px 16px rgba(29, 1, 1, 0.962);
}

.reminder_card > h2 {
    margin-bottom: 1rem;
    color: #FDFDFF;
}
h1{
    color:#FDFDFF;
}
.reminder_card > h3 {
    margin-bottom: 1rem;
    color:rgb(80, 80, 80);
}

.reminder_card > p {
    color: grey;
    margin-bottom: 1rem;
}

.reminder_card > .button {
    background: #7f21eb;
    border: 1px solid #7f21eb;
    color: #fff;
    width: inherit;
    text-align:center;
    padding: 0.5rem 0;
    margin: 0.5rem ;
    outline: none;
    cursor: pointer;
}

div.nav> button > div > svg{
    display:none;

}

Nav{
    box-shadow: grey;
}

.react-datetime-picker__inputGroup__input{
    width:fit-content !important;
    border:none;
    padding:0px 2px
}

.react-datetime-picker__wrapper{
    display: flex;
}

.react-datetime-picker__clear-button ,.react-datetime-picker__calendar-button {
    border:none;
    padding: 0px 18px;
}